<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/headTags') %>
        <title>Link: <%= link.alias %></title>
    </head>

    <body>
        <%- include('../partials/header') %>

        <main>
            <section>
                <div class="link-details">
                    <h2 class="link-alias"><%= link.alias %></h2>
                    <% if (link.description) { %>
                    <h3 class="link-desc"><%= link.description %></h3>
                    <% } else { %>
                        <h3 class="link-desc">No description provided</h3>
                     <% } %>
                    <p>
                        URL:
                        <a
                            href="<%= link.url %>"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <% if (link.url.length < 50) { %> <%= link.url %> <%
                            } else { %> <%= link.url.slice(0, 40) + "..." %> <%
                            } %>
                        </a>
                    </p>
                </div>
                <div id="qrcode"></div>
            </section>

            <section>
                <h3>Hits: <%= link.hits.length %></h3>
                <!-- TODO: Add clicks and scans to title -->
                <ul>
                    <% link.hits.forEach(hit => { %>
                        <li> <%= hit %> </li>
                        <!-- TODO: Detail hit structure -->
                    <% }) %>
                </ul>
            </section>
        </main>
    </body>
</html>
