<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/headTags') %>
        <title>Link: <%= link.alias %></title>
    </head>

    <body>
        <%- include('../partials/header') %>

        <main>
            <section id="link-sect">
                <div class="l-details">
                    <h2 class="l-alias" id="alias">
                        <%= link.alias %>
                        <span id="copy" class="material-symbols-outlined" title="Copy link to Clipboard">content_copy</span>
                    </h2>
                    <% if (link.description) { %>
                    <p class="l-desc"><span>Description: </span><%= link.description %></p>
                    <% } else { %>
                    <p class="l-desc">No description provided</p>
                    <% } %>
                    <p>
                        <span>URL:</span>
                        <a href="<%= link.url %>" target="_blank" rel="noopener noreferrer">
                            <%= link.url %>
                        </a> 
                    </p>
                    <p><span>Created at: </span> <%= link.createdAt %></p>
                </div>
                <div id="qrcode">
                    <img alt="QRCode Image" id="qrcode-img">
                    <div id="qrcode-info"></div>
                </div>
            </section>

            <section id="hits">
                <h3>Hits: <%= link.hits.length %></h3>
                <div class="clicks-and-scans">
                    <h4>Clicks: <%= numClicks %></h4>
                    <h4>Scans: <%= numScans %></h4>
                </div>
                <ul id="hit-list">
                    <% link.hits.forEach((hit, i) => { %>
                    <li class="hit">
                        <div># <%= i + 1 %></div>
                        <ul>
                            <p><%= hit.date.toLocaleString("en-US", { timeStyle: "short", dateStyle: "long" }) %></p>
                            <li><span>Type:</span> <%= hit.type %></li>
                            <li><span>IP:</span> <%= hit.ip %></li>
                            <li><span>Referrer:</span> <%= hit.referrer %></li>
                            <li><span>Location:</span> <%= hit.country %>/<%= hit.city %></li>
                            <li><span>TZ:</span> <%= hit.timezone %></li>
                            <li><span>ISP:</span> <%= hit.isp %></li>
                        </ul>
                        
                    </li>
                    <% }) %>
                </ul>
            </section>

        </main>
    </body>

    <script src="/js/link/analytics.js"></script>
</html>
