<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/headTags') %>
        <title>Scissor</title>
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>
            <h2>Links</h2>
            <% if (!links.length) { %>
                <p>Sorry you haven't created any links yet</p>
                <a href="/link/create">Create Link</a>
            <% } else { %>

            <% links.forEach(link => { %>
            <div class="link">
                <div class="link-info">
                    <h3 <% if (link.description) { %>
                        title="<%= link.description %>" <% } %> > <%= link.alias
                        %>
                    </h3>
                    <p>
                        URL:
                        <a
                            href="<%= link.url %>"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <% if (link.url.length < 50) { %> <%= link.url %> <%
                            } else { %> <%= link.url.slice(0, 40) + "..." %> <%
                            } %>
                        </a>
                    </p>
                </div>

                <div class="link-stat">
                    <p>Hits: <span class="link-hits"><%= link.hits.length %></span></p>
                    <p>Created: <span class="link-created"><%= link.createdAt %></span></p>
                </div>
            </div>
            <% }); %>


            <% } %>

        </main>
    </body>
</html>
